# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*
!web/app/cache/.gitkeep
web/app/w3tc-config/*
!web/app/w3tc-config/.gitkeep

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
.vagrant

# Logs
*.log

#IDEs
*.sublime-project
*.sublime-workspace